<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="searchEngineList" 
           value="[
           {'key':'Google', 'value':'https://www.google.com/search?q='}
           , {'key':'Yahoo!!', 'value':'https://search.yahoo.co.jp/search?p='}
           , {'key':'Bing', 'value':'https://www.bing.com/search?q='}
           ]"/>
    </appSettings>
</configuration>