<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="searchEngineList" 
           value="[
           {'Key':'Google', 'Value':'https://www.google.com/search?q=', 'Title':'ggrks'}
           , {'Key':'Yahoo!!', 'Value':'https://search.yahoo.co.jp/search?p=', 'Title':'yhrks'}
           , {'Key':'Bing', 'Value':'https://www.bing.com/search?q=', 'Title':'bngrks'}
           , {'Key':'DuckDuckGo', 'Value':'https://duckduckgo.com/?q=', 'Title':'ddgrks'}
           ]"/>
    </appSettings>
</configuration>